name: ci

on:
  push:
    branches: 
      - master
  pull_request:
    branches:
      - master

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        uses: docker/setup-buildx-action@v3
        id: buildx
        with:
          install: true
      -
        name: Build
        run: |
          docker build .
